* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color:  hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display', sans-serif;
    
}

#illustration {
    width: 100%;
    height: 200px;
    background: url(./images/illustration-hero.svg) no-repeat center center;
}


#card {   
    max-width: 450px;
    min-height: 500px;
    background-color: hsl(225, 100%, 98%);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 50px 70px -100px;
    box-shadow: 0 50px 50px -40px rgba(0, 0, 0, 0.5);
}

h1{
    color: hsl(223, 47%, 23%);
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    
}

#description {
    text-align: center;   
}

#plan {
    display: flex;
    justify-content: space-around;
    background-color:  hsl(225, 100%, 97%);
    padding: 10px;
    margin: 20px 50px;
    color: hsl(223, 47%, 23%);
    border-radius: 10px;
}

#plan-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-right: 60px;
}

#plan-type h2 {
    font-size: 16px;
}


#change {
    display: flex;
    align-items: center;
      
}

#change a {
    text-decoration: underline;
    color:hsl(245, 75%, 52%);
    font-weight: bolder;
}

#change a:hover {
    color:  hsl(224, 23%, 55%);
    transition: 0.75s;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

#options a {
    margin-bottom: 30px;
    text-decoration: none;
    font-weight: bolder;
    color: hsl(224, 23%, 55%);
}

#options a:hover {
    color: hsl(223, 47%, 23%);
    transition: 0.5s;
}

#payment-button {
    padding: 16px 30px;
    border-radius: 10px;

    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    cursor: pointer;
    font-weight: bolder;
    border: none;
}

#payment-button:hover {
    background-color: hsl(224, 23%, 55%);
    transition: 0.5s;
}


.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 30px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); }

@media (min-width: 320px) {
    html {
        background-image: url(./images/pattern-background-mobile.svg);
    }

    #card {
        max-width: 280px;
        margin-top: 10px;
        min-height: 300px;
    }
    
    #description {
        font-size: 16px;
        color:  hsl(224, 23%, 55%);
        margin: 0 25px;
    }
    #plan-type h2, p {
        font-size: 14px;
    }

    #change a {
        font-size: 14px;
    }

    #payment-button {
        margin: 0 20px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    #options a {
        font-size: 14px;
    }
}    

@media (min-width: 480px) {
    #card {
        max-width: 340px;
        
    }
    #payment-button {
        margin: 10px 50px;
        margin-bottom: 20px;
    }
}

@media (min-width:600px) {
    #card {
        max-width: 450px;
        
    }


}

@media (min-width:801px) {
    html {
        background-image: url(./images/pattern-background-desktop.svg);
    }
    #card h1{
        text-align: center;
        padding: 15px 0;
        font-size: 24px;
        
    }
    #description {
        font-size: 16px;
        margin: 0 50px auto 50px;
    }
    #plan-type h2, p {
        font-size: 16px;
    }
    
    #change a {
        font-size: 16px;
    }

    #payment-button {
        font-size: 16px;
    }
    #options a {
        font-size: 16px;
    }

}